*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 166, 0, 0.925);
    width: 100%;
    height: 100vh;
   
}
header{
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: orange;
}
#clogn{
    color: gray;
}
#clogn:hover{
    color:orange;
}
#clign{
    color: gray;
}
#clign:hover{
color: #0000FF;
}
main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{ width: 100%;
    background-color: whitesmoke;
    display: flex;
    gap: 450px;
   
  
}
nav a{
 text-decoration: none;
}
nav div a{
   padding: 10px 10px;
   text-decoration: none;
    
}
.milieu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:transparent;
    margin: 10px auto;
    gap: 5px;
    height: 100%;
    width:90%;   
}
 
@media screen and (max-width:880px){
    .milieu{
      display: block;
    }
    header{
        width: 400px;
    }
  }

.bloc{margin: auto;
     border-radius: 10px;
    height: 450px;
    width: 349px;
    display: flex;
    flex-wrap: wrap;
    column-gap:90px;
    box-sizing: border-box;
}
#bloc1{
    width: 210px;
    background-color: white;
}
#bloc2{
    width: 600px;
}
#bloc3{
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
}
.bo{
    background-color:white;
    width: 100%;
    display: flex;
   
 justify-content: start;
    flex-wrap: wrap;
    height: 48%;
     border-radius: 10px;
  
}
 .bo p{
    display: flex;
    margin-left: 30px;
}
.bloc span{
    padding: 0 0 0 0 8px; 
    margin: 5px;
}
#slide{
    width: 600px;
}
.haut{
    margin: 0 auto;
    display: flex;
    background-color:white;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    text-align: right;
     column-gap: 5px;
     align-items: center;
}
.haut .mi{
   width: 80%;
   display: flex;
   justify-content: center;
}
.haut .ma{
    color: black;
     display: flex;
     margin: 0px auto;
     font-size: 17px;
     width: 60%;
 
}
.ma .connecter{
   height: 40px;
    width: 100%;
    font-size: 15px;
     border: none;
    background-color: white;
}   
.ma .aider{
    height: 40px;
   width: 40%;
   margin-right:30px ;
   font-size: 15px;
     border: none;
    background-color: white;
}
.ma a{
 
    display: flex;
    color: black;
    margin-top: 10px;
 text-decoration: none;
}
.haut img{
    margin-top: 10px;
    margin-left: 30px;
}

#int{
    width: 400px;
    height: 40px;  
}
#bnt{
    background-color: orange;
    height: 40px;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 0 0 0 rgba(0,0,0,0.19);
    border: 0;

}
footer{
    position: relative;
    height:20%;
    width: 79%; 
 margin: 5px auto;

}
footer img{
    height: 5Opx;
    margin: 0 auto;
    border-radius: 35px;
}
#bas{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.slide_Bas{
 overflow: auto;/* comment gerer le depassement du contenu bloc */
 white-space: nowrap;/* est utilisée pour décrire la façon dont les blancs sont gérés au sein de l'élément. */
}
.bas2{
    display: none;
}
.che2,
.che1{
    border: none;
    background-color: transparent;
    max-height: 50px;
    margin: auto 0;
 
}
.che2:hover,
.che1:hover{
    cursor: pointer;
}

